@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<melodySearchProject.Models.MeiFile>

@foreach (var melody in Model)
{
    <div>
        <h2>@melody.file_name</h2>
        <p>@melody.file_content</p>
    </div>
}
