@{
    ViewBag.Title = "Display Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Response Data</h2>

@if (ViewBag.ResponseData != null)
{
    <pre>@ViewBag.ResponseData</pre>
}
else
{
    <p>No data received.</p>
}
