@* @model IEnumerable<melodySearchProject.Models.Mei>
 *@
<h2>Search Results</h2>
<br />
<div>
    <a asp-controller="Home" asp-action="Index" class="btn">Back</a>
</div
<br />
<br />
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Download Link</th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var mei in Model)
            {
                <tr>
                    <td>@mei.FileName</td>
                    <td><a href="@mei.DownloadLink" class="btn btn-primary" target="_blank">Download</a></td>
                    <!-- Add more table cells as needed -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
}
